Click==7.0
fastapi==0.65.2
h11==0.9.0
pydantic==1.6.2
redis==3.3.11
rq==1.2.0
starlette
uvicorn==0.11.7

cython==3.0.5
mysql-connector-python==8.1.0
numpy==1.23.5
pandas==2.0.1
pytz==2023.3
tqdm==4.65.0
yfinance==0.2.18
msgpack==1.0.7
redis_py_cluster==2.1.3
PyJWT==2.8.0
aiomysql==0.2.0
aioredis==2.0.1
uvloop