.popout-menu {
    display: none;
    position: fixed;
    right: 5vw;
    top: 0px;
    height: 100vh;
    background-color: #f9f9f9;
    /*min-width: 385px; /* Ensure minimum width is 400px */
    min-width: 20vw;
    width: 20vw;
    /*box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);*/
}

.popout-menu.visible {
    display: block;
}

h1 {
    font-weight: 500;
    color: forestgreen;
}

#chartContainer {
    position: fixed;
    left: 0;
    top: 0;
    /*top: 50%;
    transform: translate(0,-50%);*/
}
.button-container {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: stretch; /* Ensure buttons stretch to fill the container width */
    width: 5vw; /* Adjust the width as needed, using viewport width for dynamic scaling */
    background-color: #007bff; /* Optional: to visually separate the button bar */
}
.button.active {
    border-left-color: transparent; /* Make left border disappear for active button */
    background-color: #f9f9f9; /* Optionally change background color for active state */
}
.button {
    background-color: #007bff; /* Blue color, consistent with theme */
    color: white;
    border: 1px solid white; /* Add border for better visibility */
    padding: 1vw; /* Use viewport width for dynamic padding */
    cursor: pointer;
    border-radius: 0; /* Adjust as needed */
    font-size: calc(10px + 1vw); /* Combine fixed and dynamic sizing for font */
    transition: background-color 0.1s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button:hover(not(.active)){
    background-color: #0056b3; /* Darker shade for hover effect */
}

.icon {
    width: 80%; /* Adjust based on preference */
    height: auto; /* Maintain aspect ratio */
}

/* Responsive adjustments for smaller screens */
@media (max-width: 600px) {
    .button-container {
        width: 10vw; /* Increase width for better visibility on small screens */
    }

    .button {
        padding: 3vw; /* Increase padding for better touch targets */
        font-size: calc(12px + 2vw); /* Adjust font size for readability */
    }
}

