<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
</head>

<body>
    <div>
        <h1> Home Page</h1>
        <p> hello {{ name }}</p>
        <form action="" method="POST">
            <p><input type="text" name="usr" size="10" /></p>
            <p><input type="text" name="password" size="10" /></p>
            <p><input type="submit" value="Send Request" /></p>
        </form>
    </div>
    <script>
    </script>
</body>

</html>